
body{
    color: darkblue;
    background-color: lightgreen;
}
    

.ball1{
    margin-left: 140px;
}


  
.photo1{
    text-align: center;
}


footer{
    margin-left: 501px;
}

.gallery{
    display:grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    text-align: center;
    row-gap: 10px;
    column-gap: 10px;
    
    
    
    
}
#photos{
    background-color: royalblue;
}
#main{
    background-color: white;
}
#title{
    text-align: center;
}
.ecp3{
    height: 170px;
}
#goals{
    font-size: 30px;
    background-color: chartreuse;
}
h4{
    font-size: 40px;
    color:black;
}
#info{
    background-color: chartreuse;

}
.ecp1{
    border-color: yellow;
    border-style: solid;
    border-width: 10px;
    box-shadow:11px 11px rgb(13, 13, 95);
    
}

.ecp2{
    border-color: yellow;
    border-style: solid;
    border-width: 10px;
    box-shadow:11px 11px rgb(13, 13, 95);
}

.ecp3{
    border-color: yellow;
    border-style: solid;
    border-width: 10px;
    box-shadow:11px 11px rgb(13, 13, 95);
}

.ecp4{
    border-color: yellow;
    border-style: solid;
    border-width: 10px;
    box-shadow:11px 11px rgb(13, 13, 95);
}

.ecp5{
    border-color: yellow;
    border-style: solid;
    border-width: 10px;
    box-shadow:11px 11px rgb(13, 13, 95);
}
.ecp6{
    border-color:yellow;
    border-style: solid;
    border-width: 10px;
    box-shadow:11px 11px rgb(13, 13, 95);
}
    

    
    
    
   


